.main {
  flex: 1;
  padding: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 64px;
  margin-bottom: 128px;
  text-align: center;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.brand {
  font-size: 18px;
  margin: 12px 0px;
}
